[submodule "resources/gameforest"]
	path = resources/gameforest
	url = git@github.com:abenevaut/gameforest.git
[submodule "laradock"]
	path = laradock
	url = https://github.com/Laradock/laradock.git
[submodule "resources/clip"]
	path = resources/clip
	url = git@github.com:abenevaut/clip.git
[submodule "resources/pages"]
	path = resources/pages
	url = git@github.com:revoxltd/pages.git
