/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/img
/public/images
/public/ico
/public/packages
/public/plugins
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/coverage
deploy_rsa
deploy_rsa.pub
.sentryclirc
travis.tar
.nyc_output
public/sitemap.xml
http-client.env.json
