{
    "include": [
        "resources/js/**/*.{js,vue}"
    ],
    "extension": [
        ".js",
        ".vue"
    ],
    "exclude": [
        "**/*.spec.js"
    ],
    "reporter": [
        "text-summary",
        "lcov"
    ]
}
