@import "~admin-lte/plugins/fontawesome-free/css/all.css";
@import "~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
@import "~admin-lte/plugins/select2/css/select2.css";
@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.css";
@import "~admin-lte/plugins/sweetalert2/sweetalert2.css";
@import "~admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4";
@import "~admin-lte/plugins/ekko-lightbox/ekko-lightbox.css";
@import "~admin-lte/build/scss/AdminLTE";
@import "~flatpickr/dist/flatpickr.css";
@import "~flatpickr/dist/themes/airbnb.css";

$figcaption-bg: $blue;
$text-color: #fff;
@import '~imagehover.css/scss/imagehover';
.imghvr-fade {
  cursor: pointer;
}

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700);

@import 'pkmn-teams';
@import 'cookie-consent';
@import 'buttons/twitter';

.ekko-lightbox-nav-overlay a>* {
  color: var(--red);
}
