@import "~admin-lte/plugins/fontawesome-free/css/all.css";
@import "~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css";
@import "~admin-lte/plugins/select2/css/select2.css";
@import "~admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.css";
@import "~admin-lte/plugins/sweetalert2/sweetalert2.css";
@import "~admin-lte/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4";
@import "~admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4";
@import "~admin-lte/dist/css/adminlte.css";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700);

.js-cookie-consent.cookie-consent {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 20px;
  text-align: center;
  width: 100%;
  background-color: #f0f2f1;
}
span.cookie-consent__message {
  color: #1F1F21;
}
button.js-cookie-consent-agree {
  border: none;
  border-radius: 3px;
  background: #007bff;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
}
.btn-twitter {
  background-color: #00acee;
  border-color: #008abe;
}
.btn-twitter:hover {
  background-color: #008abe;
}
